<div data-id="!friends" class="contentWrapper autoPosition contactPage fullWidth removePadding m-Scrollbar backGround" data-src="assets/home_slider/home_slide_image10.jpg" data-src-small="assets/home_slider/home_slide_image10_s.jpg">

    	
	<!-- overlay -->
	<div class="overlayBg2 addBackgroundColor dark"></div>
    <div class="top_space"></div>

    <div class="container">
        
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
		            	<%= link_to image_tag('friends/Bloodflower.jpg'), "http://www.iambloodflower.com/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Bloodflower</h4>
		                <p>A musical collaboration between Keep Recording's Tom Manning and musician Jonnie Owen.</p>
						<a href="http://www.iambloodflower.com/" target="_blank">iambloodflower.com</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
						<%= link_to image_tag('friends/ThePart-TimeFriends.jpg'), "http://parttimefriends.tumblr.com/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Part-Time Friends</h4>
		                <p>The sublime sounds of French duo Florent and Pauline.</p>
						<a href="http://parttimefriends.tumblr.com/" target="_blank">parttimefriends.tumblr.com</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
						<%= link_to image_tag('friends/AdamHandleyPhotography.jpg'), "https://www.facebook.com/AdamHandleyPhotography", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Adam Handley Photography</h4>
		                <p>Creative photography of landscapes, culture and events.</p>
						<a href="https://www.facebook.com/AdamHandleyPhotography" target="_blank">facebook.com/AdamHandleyPhotography</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
						<%= link_to image_tag('friends/MeggieWoodIllustration.jpg'), "http://www.meggiewood.co.uk/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Meggie Wood Illustration</h4>
		                <p>Meggie is a visual artist who creates stunning screen prints from a variety of different source formats.</p>
						<a href="http://www.meggiewood.co.uk/" target="_blank">meggiewood.co.uk</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
						<%= link_to image_tag('friends/UnPlanSimple.jpg'), "http://www.un-plan-simple.com/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Un Plan Simple</h4>
		                <p>An imprint of Sony France, home of The Part-Time Friends.</p>
						<a href="http://www.un-plan-simple.com/" target="_blank">un-plan-simple.com</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig" >
						<%= link_to image_tag('friends/Swann.png'), "https://www.facebook.com/swannmusic/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Swan</h4>
		                <p>The artistic vessel for Parisian singer/songwriter Chloé Lenique</p>
						<a href="https://www.facebook.com/swannmusic/" target="_blank">facebook.com/swannmusic</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig">
						<%= link_to image_tag('friends/BenChristophers.jpg'), "https://twitter.com/benchristophers", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Ben Christophers</h4>
		                <p>Famed for his work with Bat For Lashes, Ben is a friend and long term collaborator of Keep Recording.</p>
						<a href="https://twitter.com/benchristophers" target="_blank">twitter.com/benchristophers</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig">
						<%= link_to image_tag('friends/LANDR.png'), "https://www.landr.com", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">LANDR</h4>
		                <p>The world's first intelligent drag-and-drop instant mastering service.</p>
						<a href="https://www.landr.com" target="_blank">landr.com</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig">
						<%= link_to image_tag('friends/monnow.jpg'), "http://www.monnowvalleystudio.com/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Monow Valley Recording Studio</h4>
		                <p>The legendary Monnow Valley Studio, a partner studio of Keep Recording.</p>
						<a href="http://www.monnowvalleystudio.com/" target="_blank">monnowvalleystudio.com/</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom" data-animated-in="animated fadeInLeftBig">
						<%= link_to image_tag('friends/josh.jpg'), "http://www.joshevansdesign.com/", target: "_blank" %>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Josh Evans Design</h4>
		                <p>The designer behind the Keep Recording brand.</p>
						<a href="http://www.joshevansdesign.com/" target="_blank">joshevansdesign.com/</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		
	</div>
	
    <hr class="separator_mini">
    <hr class="space_mini">
    
     
    <div class="container">
        <div class="row" data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes" >
			<div class="col-md-12 textAlignCenter">
				<h3>BANDS WE HAVE WORKED WITH</h3>
			</div>
        </div>
        <hr>     

        <div class="row">
            <div class="col-md-12" >
                <div class="clients_logo"  data-animated-time="5" data-animated-in="animated fadeInUp" data-animated-innerContent="yes" data-anchor-to="parent">
                    <a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
					<a class="hover_highlight" ><img class="preload" src="assets/clients/image1.png" data-src="assets/clients/image1.png" alt="image01" /></a>
                </div>                 
            </div> 
        </div>
    </div>
    
    <hr class="separator_max">
    <hr class="bottom_space">
    
</div>