<div class="bodyContainer">
	<div class="mainContent" >

		<%= render :partial => "home" %>
		<%= render :partial => "about" %>
		<%= render :partial => "news" %>
		<%= render :partial => "surroundings" %>
		<%= render :partial => "equipment" %>
		<%= render :partial => "friends" %>
		<%= render :partial => "contact" %>

	</div>
</div>